<div class="id-card-tile-services {{styleModifier}}">
  {{> organisms-header-tile header-tile_title=id-card-tile-services_title}}
  <div class="id-card-tile-services__body">
    <ul>
      {{#each id-card-tile-services_services}}
      <li class="id-card-tile-services__item flex">
        <div class="flex__child id-card-tile-services__icon">
          <div class="-spacing-6" style="width: 42px; height: 42px; background: #AFB1B2;"></div>
        </div>
        <div class="flex__child">
          <h2 class="id-card-tile-services__headline">{{this.type}}</h2>
          <ul>
            <li class="id-card-tile-services__property-descriptor">{{../id-card-tile-services_contractNoLabel}}</li>
            <li class="id-card-tile-services__property-value">{{this.contractNo}}</li>
            <li class="id-card-tile-services__property-descriptor">{{../id-card-tile-services_contractExpiryLabel}}</li>
            <li class="id-card-tile-services__property-value">{{this.contractExpiry}}</li>
          </ul>
        </div>
      </li>
      {{/each}}
    </ul>
  </div>
</div>
