{{#if button-regular_link }}
  <a {{#if button-regular_disabled}}{{else}}href="#"{{/if}} class="button-regular
          {{#if button-regular_highlight}} button-regular--highlight {{/if}}
          {{#if button-regular_sales}} button-regular--sales {{/if}}
          {{#if button-regular_ghost}} button-regular--ghost {{/if}}
          {{#if button-regular_sales_ghost}} button-regular--sales-ghost {{/if}}
          {{#if button-regular_loading}} button-regular--loading {{/if}}
          {{#if button-regular_small}} button-regular--small {{/if}}
          {{#if button-regular_stretch}} button-regular--stretch {{/if}}
          {{#if button-regular_buttonGroup}} button-regular--button-group {{/if}}
          {{#if button-regular_isThemeInverted}} button-regular--theme-inverted {{/if}}
          {{styleModifier}}"
    {{#if button-regular_disabled}} aria-disabled="true" {{/if}}>
    <i class="button-regular__icon {{#if button-regular_loading}}button-regular__icon-loader{{else}} icon-svg{{/if}}">
    {{#if button-regular_loading}}
      {{> molecules-loader loader_small=true styleModifier="button-regular__loader-icon" }}
    {{else}}
      {{> atoms-icon-svg icon_code=button-regular_icon styleModifier="" }}
    {{/if}}
    </i>
    <span class="button-regular__label">{{ button-regular_label }}</span>
  </a>

{{else}}
  <button type="button" class="button-regular
          {{#if button-regular_highlight}} button-regular--highlight {{/if}}
          {{#if button-regular_sales}} button-regular--sales {{/if}}
          {{#if button-regular_ghost}} button-regular--ghost {{/if}}
          {{#if button-regular_sales_ghost}} button-regular--sales-ghost {{/if}}
          {{#if button-regular_loading}} button-regular--loading {{/if}}
          {{#if button-regular_small}} button-regular--small {{/if}}
          {{#if button-regular_stretch}} button-regular--stretch {{/if}}
          {{#if button-regular_buttonGroup}} button-regular--button-group {{/if}}
          {{#if button-regular_isThemeInverted}} button-regular--theme-inverted {{/if}}
          {{styleModifier}}"
    {{#if button-regular_disabled}} disabled {{/if}}>
    <i class="button-regular__icon {{#if button-regular_loading}}button-regular__icon-loader{{else}} icon-svg{{/if}}">
    {{#if button-regular_loading}}
      {{> molecules-loader loader_small=true styleModifier="button-regular__loader-icon" }}
    {{else}}
      {{> atoms-icon-svg icon_code=button-regular_icon styleModifier="" }}
    {{/if}}
    </i>
    <span class="button-regular__label">{{ button-regular_label }}</span>
  </button>
{{/if}}
