<{{#if button-regular_link }}a href="#"{{else}}button type="button"{{/if}}
  class="button-regular
        {{#if button-regular_error}} button-regular--error {{/if}}
        {{#if button-regular_black}} button-regular--black {{/if}}
        {{#if button-regular_highlight}} button-regular--highlight {{/if}}
        {{#if button-regular_sales}} button-regular--sales {{/if}}
        {{#if button-regular_acidGreen}} button-regular--acid-green {{/if}}
        {{#if button-regular_stretch}} button-regular--stretch {{/if}}
        {{#if button-regular_buttonGroup}} button-regular--button-group {{/if}}
        {{styleModifier}}"
  {{#if button-regular_disabled}} disabled {{/if}}>

  <span class="button-regular__icon icon icon--{{ button-regular_icon}}
              {{#if button-regular_loading}} button-regular__icon--loading {{/if}}">
  {{#if button-regular_loading}}
      {{> molecules-loader-base styleModifier="button-regular__loader" }}
  {{/if}}

  </span>
  <span class="button-regular__label">{{ button-regular_label }}</span>

{{#if button-regular_link }}</a>{{else}}</button>{{/if}}
