<ul class="list-message {{ styleModifier }}">
    {{#each list-message }}
        <li class="list-message__item {{#if detail }} list-message__item--open {{/if}}">
            <div class="list-message__icon {{#if detail }} list-message__icon--open {{/if}} icon icon--error list-message__icon--error"></div>

            <div class="list-message__row row">
                <div class="list-message__content list-message__content--left column column--10 column--7-m column--8-l {{#if open }} list-message__content--open {{/if}}">
                    <h5 class="list-message__title">{{ title }}</h5>
                    <ol class="list-message__tags">
                        <li>{{ subtitle }}</li>
                    </ol>
                </div>
                <div class="list-message__content list-message__content--right column column--12 column--5-m column--4-l">
                    <span class="list-message__date-icon icon icon--registration"></span>
                    <span class="list-message__date-title">{{ dateTitle }}</span>
                    <span class="list-message__date-time">{{ dateTime }}</span>
                </div>
            </div>
            {{#if detail }}
                {{> organisms-list-menu list-menu_icon="arrow-down-thin" list-menu_open=true }}
                {{> organisms-list-detail }}
            {{else}}
                {{> organisms-list-menu list-menu_icon="arrow-down-thin" }}
            {{/if}}
        </li>
    {{/each}}
</ul>
