<div class="-background-white -spacing-inner-a">
  <h2 class="-text-size-3-thin -text-color-black">{{ background_titleMainColors }}</h2>
  <p class="-spacing-30 -spacing-inner-b -text-size-copy -text-color-black -background-white" style="border: 1px solid #eeeeee;">{{ background_white }}</p>
  <p class="-spacing-12 -spacing-inner-b -text-size-copy -text-color-black -background-grey-1">{{ background_grey1 }}</p>
  <p class="-spacing-12 -spacing-inner-b -text-size-copy -text-color-black -background-grey-2">{{ background_grey2 }}</p>
  <p class="-spacing-12 -spacing-inner-b -text-size-copy -text-color-black -background-grey-3">{{ background_grey3 }}</p>
  <p class="-spacing-12 -spacing-inner-b -text-size-copy -text-color-black -background-grey-4">{{ background_grey4 }}</p>
  <p class="-spacing-12 -spacing-inner-b -text-size-copy -text-color-black -background-grey-5">{{ background_grey5 }}</p>
  <p class="-spacing-12 -spacing-inner-b -text-size-copy -text-color-white -background-grey-6">{{ background_grey6 }}</p>
  <p class="-spacing-12 -spacing-inner-b -text-size-copy -text-color-white -background-grey-7">{{ background_grey7 }}</p>
  <p class="-spacing-12 -spacing-inner-b -text-size-copy -text-color-white -background-grey-8">{{ background_grey8 }}</p>
  <p class="-spacing-12 -spacing-inner-b -text-size-copy -text-color-white -background-grey-9">{{ background_grey9 }}</p>
  <p class="-spacing-12 -spacing-inner-b -text-size-copy -text-color-white -background-grey-9-1">{{ background_grey9-1 }}</p>
  <p class="-spacing-12 -spacing-inner-b -text-size-copy -text-color-white -background-grey-10">{{ background_grey10 }}</p>
  <p class="-spacing-12 -spacing-inner-b -text-size-copy -text-color-white -background-grey-10-1">{{ background_grey10-1 }}</p>
  <p class="-spacing-12 -spacing-inner-b -text-size-copy -text-color-white -background-black">{{ background_black }}</p>
  <p class="-spacing-30 -spacing-inner-b -text-size-copy -text-color-white -background-red-1">{{ background_red1 }}</p>
  <p class="-spacing-12 -spacing-inner-b -text-size-copy -text-color-white -background-red-2">{{ background_red2 }}</p>
  <p class="-spacing-30 -spacing-inner-b -text-size-copy -text-color-white -background-blue-1">{{ background_blue1 }}</p>
  <p class="-spacing-12 -spacing-inner-b -text-size-copy -text-color-white -background-blue-2">{{ background_blue2 }}</p>
</div>

<div class="-background-white -spacing-inner-a">
  <h2 class="-text-size-3-thin -text-color-black">{{ background_titleSpecialColors }}</h2>
  <p class="-spacing-30 -spacing-inner-b -text-size-copy -text-color-black -background-acid-green">{{ background_acidGreen }}</p>
</div>

<div class="-background-white -spacing-inner-a">
  <h2 class="-text-size-3-thin -text-color-black">{{ background_titleStatusColors }}</h2>
  <p class="-spacing-30 -spacing-inner-b -text-size-copy -text-color-black -background-status-green">{{ background_statusGreen }}</p>
  <p class="-spacing-12 -spacing-inner-b -text-size-copy -text-color-black -background-status-yellow">{{ background_statusYellow }}</p>
  <p class="-spacing-12 -spacing-inner-b -text-size-copy -text-color-black -background-status-orange">{{ background_statusOrange }}</p>
  <p class="-spacing-12 -spacing-inner-b -text-size-copy -text-color-black -background-status-red">{{ background_statusRed }}</p>
</div>
