<div class="car-chooser {{styleModifier}} {{#if car-chooser_open }} car-chooser--open{{/if}} ">
    <div class="car-chooser__bar">
        <div class="icon icon--arrow-down-hair car-chooser__icon  {{#if car-chooser_open }} car-chooser__icon--open {{/if}}"></div>
        <div class="car-chooser__header">
            <h4 class="car-chooser__title">{{ car-chooser_barTitle }}</h4>
            <span class="car-chooser__vin">{{ car-chooser_barVin }}</span>
        </div>
    </div>

    <div class="car-chooser__dropdown {{#if car-chooser_open }} car-chooser__dropdown--open {{/if}}">
        <div class="row row--gap-zero">
            {{#if car-chooser_search }}
                <div class="column column--12">
                    <h4 class="car-chooser__dropdown-title"> {{ car-chooser_title }} </h4>
                    <p class="car-chooser__dropdown-subtitle"> {{ car-chooser_subtitle }} </p>
                    <div class="car-chooser__dropdown-input">
                      {{> molecules-input input_icon="search" input_label="Modellname/Kennzeichen" }}
                    </div>

                    {{#if car-chooser_search_empty-result}}
                        <div class="-spacing-24">
                          <span class="car-chooser__dropdown-search-message">
                            Keine Fahrzeuge gefunden.
                          </span>
                          <span class="car-chooser__dropdown-search-message">
                            Geben sie den Modellnamen, das Kennzeichen oder die Fahrzeugidentifikationsnummer (FIN) des gesuchten Fahrzeugs ein.
                          </span>
                        </div>
                    {{else}}
                        <div class="car-chooser__dropdown-list car-chooser__dropdown-list--search">
                            {{#each car-chooser_vehicles }}
                                <div class="
                                  car-chooser__dropdown-column
                                  {{#if active }} car-chooser__dropdown-column--active {{/if}}
                                  column
                                  column--12
                                  column--4-s
                                  {{#if ../car-chooser_lessThanThreeVehicles }} column--6-s{{/if}}"
                                >
                                    <span class="car-chooser__dropdown-icon icon icon--arrow-right-thin"></span>
                                    <img src="{{ image }}" alt="{{ name }}" class="car-chooser__dropdown-image">
                                    <h4 class="car-chooser__dropdown-title">{{ name }}</h4>
                                    <p class="car-chooser__dropdown-vin">{{ vin }}</p>
                                </div>
                            {{/each}}
                        </div>
                    {{/if}}
                </div>
            {{else if car-chooser_empty}}
                <div class="column column--12">
                    <h4 class="car-chooser__dropdown-title"> {{ car-chooser_title-empty }} </h4>
                    <p class="car-chooser__dropdown-subtitle"> {{ car-chooser_subtitle-empty }} </p>
                    <div class="car-chooser__dropdown-add-button">
                      {{> deprecated-button-primary
                          button-primary_label=car-chooser_empty_button-label
                          button-primary_red=true
                          button-primary_icon="plus"}}
                    </div>
                </div>
            {{else}}
                <div class="car-chooser__dropdown-list">
                    {{#each car-chooser_vehicles }}
                        <div class="
                          car-chooser__dropdown-column
                          {{#if active }} car-chooser__dropdown-column--active {{/if}}
                          column
                          column--12
                          column--4-s
                          {{#if ../car-chooser_lessThanThreeVehicles }} column--6-s{{/if}}"
                        >
                            <span class="car-chooser__dropdown-icon icon icon--arrow-right-thin"></span>
                            <img src="{{ image }}" alt="{{ name }}" class="car-chooser__dropdown-image">
                            <h4 class="car-chooser__dropdown-title">{{ name }}</h4>
                            <p class="car-chooser__dropdown-vin">{{ vin }}</p>
                        </div>
                    {{/each}}
                </div>
            {{/if}}
        </div>
    </div>
</div>
