{{#if eRangeMap.fullyLoaded }}
  <div class="e-range-map {{ styleModifier }}">
    <img src="{{ googleMaps.src }}" style="width: 100%; height: 100%; position: absolute; top: 0; left: 0;">
  </div>
{{/if}}

{{#if eRangeMap.loadingPosition }}
  <div class="loader-box overlay {{ styleModifier }}">
    <div class="e-range-map"></div>
  </div>
{{/if}}

{{#if eRangeMap.loadingMap }}
  <div class="loader-box overlay {{ styleModifier }}">
    <div class="e-range-map">
      <img src="{{ googleMaps.src }}" style="width: 100%; height: 100%; position: absolute; top: 0; left: 0;">
    </div>
    <div class="overlay__item"></div>
  </div>
{{/if}}

{{#if eRangeMap.errorPosition }}
  <div class="overlay {{ styleModifier }}">
    <div class="e-range-map">
      <img src="{{ googleMaps.src }}" style="width: 100%; height: 100%; position: absolute; top: 0; left: 0;">
    </div>
    <div class="overlay__item">
      <p class="overlay__message">{{ eRangeMap.errorMessageCarCouldNotBeLocated }}</p>
    </div>
  </div>
{{/if}}

{{#if eRangeMap.errorFallback }}
  <div class="overlay {{ styleModifier }}">
    <div class="e-range-map e-range-map--fallback">
    </div>
    <div class="overlay__item">
      <p class="overlay__message">{{ eRangeMap.errorMessageCarDataCouldNotBeLoaded }}</p>
    </div>
  </div>
{{/if}}
