<div class="navigation-topbar-mobile {{ styleModifier }}">
    {{#if navigation-topbar-mobile_open }}

      <div class="navigation-topbar-mobile__flyout">
        <div class="navigation-topbar-mobile__flyout-header">
            <span class="navigation-topbar-mobile__icon navigation-topbar-mobile__icon--active icon icon--arrow-left-thin"></span>
            <div class="navigation-topbar-mobile__headline">
              {{ navigation-topbar-mobile_headline }}
            </div>
        </div>
        <ul class="navigation-topbar-mobile__flyout-menu">
          {{#each navigation-topbar-mobile_flyoutItems }}
            <li class="navigation-topbar-mobile__flyout-item">
                <a href="#" class="navigation-topbar-mobile__flyout-link">
                  {{#if icon}} <span class="navigation-topbar-mobile__flyout-icon {{#if iconHighlight}} navigation-topbar-mobile__flyout-icon--highlight {{/if}} navigation-topbar-mobile__flyout-icon--left icon icon--{{ icon }}"></span> {{/if}}
                  {{#if badge}} <span class="navigation-topbar-mobile__flyout-badge {{#if badgeHighlight}} navigation-topbar-mobile__flyout-badge--highlight {{/if}}">{{ badge }}</span> {{/if}}
                  <span class="navigation-topbar-mobile__flyout-link-title {{#if active }} navigation-topbar-mobile__flyout-link-title--active {{/if}}">{{ linkTitle }}</span>
                  <span class="navigation-topbar-mobile__flyout-icon navigation-topbar-mobile__flyout-icon--right icon icon--arrow-right-thin"></span>
                </a>
            </li>
          {{/each}}
        </ul>
        <ul class="navigation-topbar-mobile__flyout-menu navigation-topbar-mobile__flyout-menu--porscheid">
          {{#each navigation-topbar-mobile_flyoutItemsPorscheId }}
              <li class="navigation-topbar-mobile__flyout-item">
                  <a href="#" class="navigation-topbar-mobile__flyout-link">
                    {{#if icon}} <span class="navigation-topbar-mobile__flyout-icon {{#if iconHighlight}} navigation-topbar-mobile__flyout-icon--highlight {{/if}} navigation-topbar-mobile__flyout-icon--left icon icon--{{ icon }}"></span> {{/if}}
                    {{#if badge}} <span class="navigation-topbar-mobile__flyout-badge {{#if badgeHighlight}} navigation-topbar-mobile__flyout-badge--highlight {{/if}}">{{ badge }}</span> {{/if}}
                    <span class="navigation-topbar-mobile__flyout-link-title {{#if active }} navigation-topbar-mobile__flyout-link-title--active {{/if}}">{{ linkTitle }}</span>
                    <span class="navigation-topbar-mobile__flyout-icon navigation-topbar-mobile__flyout-icon--right icon icon--arrow-right-thin"></span>
                  </a>
              </li>
          {{/each}}
        </ul>
        {{#if navigation-topbar-mobile_flyoutFooter }}
          <div class="navigation-topbar-mobile__flyout-footer">
            <ul class="navigation-topbar-mobile__flyout-footer-nav">
              {{#each navigation-topbar-mobile_flyoutFooterItems }}
                <li class="navigation-topbar-mobile__flyout-footer-item">
                    <a href="#" class="navigation-topbar-mobile__flyout-footer-link">
                        <span class="navigation-topbar-mobile__flyout-footer-icon icon icon--{{ icon }}"></span>
                        <span class="navigation-topbar-mobile__flyout-footer-link-title">{{ linkTitle }}</span>
                    </a>
                </li>
              {{/each}}
            </ul>
          </div>
        {{/if}}
      </div>
    {{else}}
        <div class="navigation-topbar-mobile__crest">
            <a href="#" class="navigation-topbar-mobile__logo">
                <img src="{{ navigation-topbar-mobile_crest }}" class="navigation-topbar-mobile__image">
            </a>
        </div>
        <ul class="navigation-topbar-mobile__items">
          {{#each navigation-topbar-mobile_items }}
              <li class="navigation-topbar-mobile__item">
                  <a href="#" class="navigation-topbar-mobile__link">
                    {{#if icon }} <span class="navigation-topbar-mobile__icon icon icon--{{ icon }}"></span> {{/if}}
                      <span class="navigation-topbar-mobile__link-title {{#if active }} navigation-topbar-mobile__link-title--active {{/if}}">{{ linkTitle }}</span>
                  </a>
              </li>
          {{/each}}
        </ul>
    {{/if}}
</div>
