{{#if button-regular_link }}
  <a {{#if button-regular_disabled}}{{else}}href="#"{{/if}} class="button-regular
          {{#if button-regular_highlight}} button-regular--highlight {{/if}}
          {{#if button-regular_sales}} button-regular--sales {{/if}}
          {{#if button-regular_ghost}} button-regular--ghost {{/if}}
          {{#if button-regular_sales_ghost}} button-regular--sales-ghost {{/if}}
          {{#if button-regular_loading}} button-regular--loading {{/if}}
          {{#if button-regular_small}} button-regular--small {{/if}}
          {{#if button-regular_stretch}} button-regular--stretch {{/if}}
          {{#if button-regular_isThemeInverted}} button-regular--theme-inverted {{/if}}
          {{styleModifier}}"
    {{#if button-regular_disabled}} aria-disabled="true" {{/if}}>
    {{#if button-regular_loading}}
      {{#if button-regular_loadingInverted}}
        {{> molecules-loader loader_x-small=true loader_isThemeInverted=true styleModifier="button-regular__icon-loader" }}
      {{else}}
        {{> molecules-loader loader_x-small=true styleModifier="button-regular__icon-loader" }}
      {{/if}}
    {{else}}
      {{> atoms-icon icon_code=button-regular_icon icon_x-small=true icon_title=false icon_aria-hidden=true styleModifier="button-regular__icon" }}
    {{/if}}
    <span class="button-regular__label">{{ button-regular_label }}</span>
  </a>

{{else}}
  <button type="button" class="button-regular
          {{#if button-regular_highlight}} button-regular--highlight {{/if}}
          {{#if button-regular_sales}} button-regular--sales {{/if}}
          {{#if button-regular_ghost}} button-regular--ghost {{/if}}
          {{#if button-regular_sales_ghost}} button-regular--sales-ghost {{/if}}
          {{#if button-regular_loading}} button-regular--loading {{/if}}
          {{#if button-regular_small}} button-regular--small {{/if}}
          {{#if button-regular_stretch}} button-regular--stretch {{/if}}
          {{#if button-regular_isThemeInverted}} button-regular--theme-inverted {{/if}}
          {{styleModifier}}"
    {{#if button-regular_disabled}} disabled {{/if}}>
    {{#if button-regular_loading}}
      {{#if button-regular_loadingInverted}}
        {{> molecules-loader loader_x-small=true loader_isThemeInverted=true styleModifier="button-regular__icon-loader" }}
      {{else}}
        {{> molecules-loader loader_x-small=true styleModifier="button-regular__icon-loader" }}
      {{/if}}
    {{else}}
      {{> atoms-icon icon_code=button-regular_icon icon_x-small=true icon_title=false icon_aria-hidden=true styleModifier="button-regular__icon" }}
    {{/if}}
    <span class="button-regular__label">{{ button-regular_label }}</span>
  </button>
{{/if}}
