<div class="-spacing-inner-a affected-vehicle-information -background-white {{ styleModifier }}">
    <div class="row flex flex--center-horizontal flex--row-wrap">
        <div class="column column--12 column--s-6">
            <h1 class="-text-size-2-thin">{{ affected-vehicle-information_vehicleName }}</h1>
            <p class="-text-size-copy -text-color-grey-8">{{ affected-vehicle-information_vin }}</p>
            <img src="{{ affected-vehicle-information_vehicleImage }}" class="image">
        </div>

        <div class="column column--12 column--s-6">
            <h3 class="-text-size-4-thin">{{ affected-vehicle-information_headline }} {{ affected-vehicle-information_vehicleName }}.</h3>
            <p class="-text-size-copy -spacing-6">{{ affected-vehicle-information_subline }}</p>

            {{> molecules-button-inline styleModifier="-spacing-24" button-inline_label="Servicetermin vereinbaren" button-inline_active=true button-inline_icon="registration" }}

        </div>
    </div>
</div>
