{{#if icon_wrapped}}
<div style="font-size: 400px;" class="icon
    {{#if icon_x-small}}icon--x-small{{/if}}
    {{#if icon_small}}icon--small{{/if}}
    {{#if icon_medium}}icon--medium{{/if}}
    {{ styleModifier }}">
  <svg width="100%" height="100%" role="img" focusable="false" {{#if icon_title}}aria-label="{{icon_title}}" {{/if}}
    {{#if icon_aria-hidden}}aria-hidden="true" {{/if}}>
    <use xlink:href="../../images/porsche-ui-kit-docs/svg-sprite.svg#icon-{{icon_code}}" />
  </svg>
</div>
{{else}}
<svg style="font-size: 400px;" class="icon
  {{#if icon_x-small}}icon--x-small{{/if}}
  {{#if icon_small}}icon--small{{/if}}
  {{#if icon_medium}}icon--medium{{/if}}
  {{ styleModifier }}" role="img" focusable="false" {{#if icon_title}}aria-label="{{icon_title}}" {{/if}}
  {{#if icon_aria-hidden}}aria-hidden="true" {{/if}}>
  <use xlink:href="../../images/porsche-ui-kit-docs/svg-sprite.svg#icon-{{icon_code}}" />
</svg>

<hr>

<svg style="font-size: 400px;" class="icon" id="icon-arrow-right-hair" viewBox="0 0 32 32" width="100%" height="100%"><title>icon_arrow-right-hair</title><path d="M12.5 28L22 16 12.5 4h3L25 16l-9.5 12h-3z"></path></svg>

<hr>

<div class="icon" style="font-size: 400px;">
  <svg id="icon-arrow-right-hair" viewBox="0 0 32 32" width="100%" height="100%"><title>icon_arrow-right-hair</title><path d="M12.5 28L22 16 12.5 4h3L25 16l-9.5 12h-3z"></path></svg>
</div>
{{/if}}
