<div class="layout-map-form {{ styleModifier }}">
  <div class="layout-map-form__container -background-white -spacing-inner-a">
    <h2 class="-text-size-3-thin -text-color-black">{{ point-of-interest-form_title }}</h2>
    <h4 class="-spacing-a -text-color-black -text-size-5-thin">{{ point-of-interest-form_inputGroupTitle }}</h4>
    {{> molecules-input styleModifier="-spacing-a" input_label="Ort/Adresse" input_value="Porsche Zentrum Stuttgart Porschestraße 9" input_icon="close" }}
    <div class="layout-map-form__map">
      <img src="{{ @root.googleMaps.src }}" style="width: 100%; height: 100%;">
    </div>
    {{> molecules-input styleModifier="-spacing-a" input_label="Name" input_value="Porsche Zentrum Stuttgart" input_icon="close" }}
    <h4 class="-spacing-a -text-color-black -text-size-5-thin">{{ point-of-interest-form_checkboxGroupTitle }}</h4>
    <div class="row">
      <div class="column column--12 column--xs-6 -spacing-a">
        {{> molecules-checkbox checkbox_checked=true checkbox_label="Favorit" checkbox_labelIcon="favorite-next"}}
      </div>
      <div class="column column--12 column--xs-6 -spacing-a">
        {{> molecules-checkbox checkbox_label="Zuhause" checkbox_labelIcon="home-next"}}
      </div>
    </div>
    <div class="row">
      <div class="column column--12 column--xs-6 -spacing-a">
        {{> molecules-checkbox checkbox_label="Nächstes Navigationsziel"}}
      </div>
      <div class="column column--12 column--xs-6 -spacing-a">
        {{> molecules-checkbox checkbox_label="Arbeit" checkbox_labelIcon="work-next"}}
      </div>
    </div>
    <div class="layout-map-form__button-delete">
      {{#if point-of-interest-form_deleteButton }}
        {{> molecules-button-icon button-icon_icon="delete" }}
      {{/if}}
    </div>
  </div>
  {{> organisms-form-button-group form-button-group_primaryActionCta="Speichern"
                                  form-button-group_secondaryActionCta="Abbrechen" }}
</div>
