
<div class="input-mileage-form {{ styleModifier }}">
    {{#if input-mileage-form_default }}
        <h4 class="input-mileage-form__title">{{ input-mileage-form_title }}</h4>
        <label class="input input-mileage-form__input">
            <input class="input__field input-mileage-form__field" placeholder="{{ input-mileage-form_placeholder }}" type="text" />
            <span class="input-mileage-form__label input__label">{{ input-mileage-form_placeholder }}</span>
        </label>
    {{/if}}

    {{#if input-mileage-form_mileageIsInputted }}
        <h4 class="input-mileage-form__title">{{ input-mileage-form_title }}</h4>
        <span class="input-mileage-form__mileage-label">{{ input-mileage-form_placeholder }} <span>{{ input-mileage-form_placeholderUnit }} </span></span>
        <span class="icon icon--edit input-mileage-form__edit-mileage-icon"></span>

    {{/if}}

    {{#if input-mileage-form_notAllowed }}
        <p class="input-mileage-form__notification">{{ input-mileage-form_notAllowedInformation }}</p>
    {{/if}}
</div>
