<label class="radio-button-choose-dealer {{styleModifier}}">
  <input class="radio__field radio-button-choose-dealer__radio-field" type="radio" {{#if radio-button-choose-dealer_checked }} checked="checked" {{/if}}>
  <span class="radio__icon"></span>
  <div class="radio__label">
    <span class="radio-button-choose-dealer__number">{{radio-button-choose-dealer_number}}</span>
    <h4 class="radio-button-choose-dealer__company-name">{{radio-button-choose-dealer_companyName}}</h4>
    <p class="radio-button-choose-dealer__company-address">
      {{radio-button-choose-dealer_companyStreet}}<br>
      {{radio-button-choose-dealer_companyPostalCode}} {{radio-button-choose-dealer_companyCity}}<br>
      Telefon: {{radio-button-choose-dealer_companyPhoneNumber}}
    </p>
  </div>
</label>
