<div class="state-empty-action {{styleModifier}}">
  <img src="{{ state-empty-action_image }}"  class="state-empty-action__image" />
  <div class="state-empty-action__title">
    {{ state-empty-action_title }}
    {{#if state-empty-action_icon }}
      <span class="state-empty-action__icon icon icon--{{ state-empty-action_icon }}"></span>
    {{/if}}
    {{ state-empty-action_titleContinue }}
  </div>
</div>
