<h2 class="-text-size-3-thin -text-color-black">{{ text-color_titleMainColors }}</h2>
<p class="-spacing-30 -text-size-copy -text-color-white">{{ text-color_white }}</p>
<p class="-spacing-12 -text-size-copy -text-color-grey-1">{{ text-color_grey1 }}</p>
<p class="-spacing-12 -text-size-copy -text-color-grey-2">{{ text-color_grey2 }}</p>
<p class="-spacing-12 -text-size-copy -text-color-grey-3">{{ text-color_grey3 }}</p>
<p class="-spacing-12 -text-size-copy -text-color-grey-4">{{ text-color_grey4 }}</p>
<p class="-spacing-12 -text-size-copy -text-color-grey-5">{{ text-color_grey5 }}</p>
<p class="-spacing-12 -text-size-copy -text-color-grey-6">{{ text-color_grey6 }}</p>
<p class="-spacing-12 -text-size-copy -text-color-grey-7">{{ text-color_grey7 }}</p>
<p class="-spacing-12 -text-size-copy -text-color-grey-8">{{ text-color_grey8 }}</p>
<p class="-spacing-12 -text-size-copy -text-color-grey-9">{{ text-color_grey9 }}</p>
<p class="-spacing-12 -text-size-copy -text-color-grey-9-1">{{ text-color_grey9-1 }}</p>
<p class="-spacing-12 -text-size-copy -text-color-grey-10">{{ text-color_grey10 }}</p>
<p class="-spacing-12 -text-size-copy -text-color-grey-10-1">{{ text-color_grey10-1 }}</p>
<p class="-spacing-12 -text-size-copy -text-color-black">{{ text-color_black }}</p>
<p class="-spacing-30 -text-size-copy -text-color-red-1">{{ text-color_red1 }}</p>
<p class="-spacing-12 -text-size-copy -text-color-red-2">{{ text-color_red2 }}</p>
<p class="-spacing-30 -text-size-copy -text-color-blue-1">{{ text-color_blue1 }}</p>
<p class="-spacing-12 -text-size-copy -text-color-blue-2">{{ text-color_blue2 }}</p>

<h2 class="-text-size-3-thin -text-color-black -spacing-30">{{ text-color_titleSpecialColors }}</h2>
<p class="-spacing-30 -text-size-copy -text-color-acid-green">{{ text-color_acidGreen }}</p>

<h2 class="-text-size-3-thin -text-color-black -spacing-30">{{ text-color_titleStatusColors }}</h2>
<p class="-spacing-30 -text-size-copy -text-color-status-green">{{ text-color_statusGreen }}</p>
<p class="-spacing-12 -text-size-copy -text-color-status-yellow">{{ text-color_statusYellow }}</p>
<p class="-spacing-12 -text-size-copy -text-color-status-orange">{{ text-color_statusOrange }}</p>
<p class="-spacing-12 -text-size-copy -text-color-status-red">{{ text-color_statusRed }}</p>
