<div class="how-to-progress-bar {{ styleModifier }}">
  <h3 class="how-to-progress-bar__headline">{{ how-to-progress-bar_headline }}</h3>
  <ul class="how-to-progress-bar__navigation">
    {{#each how-to_steps }}
      <li class="how-to-progress-bar__steps">
        <div class="how-to-progress-bar__steps-title">

          {{#if stepActive}}
            <span class="how-to-progress-bar__steps-link how-to-progress-bar__steps-link--active">{{ how-to_title }}</span>
          {{else}}
            <a href="javascript:void(0);" class="how-to-progress-bar__steps-link">{{ how-to_title }}</a>
          {{/if}}

          {{#if stepActive}}
          {{> charging-service-how-to-description
              styleModifier="how-to-progress-bar__description"
              how-to-description_imgPath="../../images/charging-service/testimg.jpg"
              how-to-description_text1="Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu."
              how-to-description_text2="Vivamus elementum semper nisi. Aenean vulputate eleifend tellus. Aenean leo ligula, porttitor eu, consequat vitae, eleifend ac, enim."
          }}
          {{/if}}

        </div>
      </li>
    {{/each}}
  </ul>
</div>
