<div class="how-to-description {{ styleModifier }}">
  <figure class="how-to-description__media">
    <img class="how-to-description__image" src="{{ how-to-description_imgPath }}" alt="{{ imgAlt }}">
  </figure>
  <div class="how-to-description__info">
    <h4 class="how-to-description__info-headline">{{ how-to-description_headline }}</h4>
    <p class="how-to-description__info-text">{{ how-to-description_text1 }}</p>
    <p class="how-to-description__info-text">{{ how-to-description_text2 }}</p>

    {{> charging-service-app-download
        styleModifier="how-to-description__app-download"
        app-download_items=how-to-description_items
    }}

    <div class="how-to-description__navigate">

      {{> molecules-button-ghost
          styleModifier=""
          button-ghost_stretch=true
          button-ghost_icon="arrow-left-thin"
          button-ghost_label= ""
      }}

      {{> molecules-button-primary
          styleModifier=""
          button-primary_red=true
          button-primary_stretch=true
          button-primary_buttonGroup=true
          button-primary_icon="arrow-right-thin"
          button-primary_label= ""
      }}

    </div>
  </div>
</div>
