<div class="price-view {{ styleModifier }}">
  <div class="price-view__header">
    <span class="price-view__column">{{ price-view_headerLeft }}</span>
    <span class="price-view__column">{{ price-view_headerRight }}</span>
  </div>
  {{#each price-view_rows}}
    <div class="price-view__row">
      <span class="price-view__column">{{ label }}</span>
      <span class="price-view__column">{{ value }}</span>
    </div>
  {{/each}}
</div>
