<button type="button"
  class="central-context-menu-button
    {{#if active}} central-context-menu-button--active {{/if}}
    {{styleModifier}}"
    {{#if disabled}} disabled {{/if}}>
  <span class="central-context-menu-button__icon icon
    {{#if inverted}} central-context-menu-button__icon--inverted {{/if}}
    icon--{{ icon}}
    {{styleModifier_icon}}">
  </span>

  <span class="central-context-menu-button__label
    {{#if inverted}} central-context-menu-button__label--inverted {{/if}}
    {{styleModifier_label}}">
    {{ label }}
  </span>
</button>

