<div class="media-center {{ styleModifier }}">
  <div class="media-center__media-carousel">

    {{#if media-center-arrows }}
      {{> connected-car-store-slider-arrow
          styleModifier="media-center__slider-arrow slider-arrow--disabled"
          slider-arrow_isArrowLeft=true
      }}
    {{/if}}

    {{#if media-center-collage-2-1}}
      <div class="media-center__slide-item media-center__slide-item--2-1">
        {{#each media-center-collage-2-1 }}
          <a href="javascript:void(0);" class="media-center__media">
            <img src="{{ image }}" alt="{{ title }}">
          </a>
        {{/each}}
      </div>
    {{/if}}

    {{#if media-center-collage-1-2}}
      <div class="media-center__slide-item media-center__slide-item--1-2">
        {{#each media-center-collage-1-2 }}
          <a href="javascript:void(0);" class="media-center__media">
            <img src="{{ image }}" alt="{{ title }}">
          </a>
        {{/each}}
      </div>
    {{/if}}

    {{#if media-center-common}}
      {{#each media-center-common }}
      <div class="media-center__slide-item">
        <a href="javascript:void(0);" class="media-center__media">
          <img src="{{ image }}" alt="{{ title }}">

          {{#if video}}
            {{> connected-car-store-play-trigger
                play-trigger-icon="play2"
                styleModifier="media-center__play-trigger"
            }}
          {{/if}}
          
        </a>
      </div>
      {{/each}}
    {{/if}}

    {{#if media-center-arrows }}
      {{> connected-car-store-slider-arrow
          styleModifier="media-center__slider-arrow"
          slider-arrow_isArrowLeft=false
          slider-arrow_isArrowRight=true
      }}
    {{/if}}

  </div>

  {{#if media-center_paginationDots }}
    {{> molecules-pagination-dots
        styleModifier="media-center__pagination-dots"
        pagination-dots_dots=media-center_paginationDots
    }}
  {{/if}}

</div>
