<div class="tile-financial-services">
  <div class="tile-financial-services__container">
    <div class="tile-financial-services__content">
      <div class="tile-financial-services__content-top">
        <div class="tile-financial-services__icon">
          <span class="icon icon--payment-calculator"></span>
        </div>
        <div class="tile-financial-services__headline tile-financial-services__headline--multiline">
          {{ tile-financial-services_headlineLabel }}
        </div>
      </div>
      <div class="tile-financial-services__content-bottom">
        {{#if tile-financial-services_account }}
          <div class="tile-financial-services__content-bottom-textarea">
            <div>{{ tile-financial-services_contentBottomTextareaAccountLabel }}</div>
            <div>{{ tile-financial-services_contentBottomTextareaDateLabel }}</div>
          </div>
        {{/if}}
        {{#if tile-financial-services_accountPaperless }}
          <div class="tile-financial-services__content-bottom-headline tile-financial-services__content-bottom-icon">
            <span class="icon icon--leaf"></span>
          </div>
        {{/if}}
        {{#if tile-financial-services_account }}
          <div class="tile-financial-services__content-bottom-headline">
            {{ tile-financial-services_contentBottomHeadlineLabel }}
          </div>
        {{/if}}
        <div class="tile-financial-services__content-bottom-text">
          {{ tile-financial-services_contentBottomTextLabel }}
        </div>

        {{#if tile-financial-services_account }}
          <div class="tile-financial-services__arrow tile-financial-services__arrow--left">
            <div class="tile-financial-services__arrow-icon
                        tile-financial-services__arrow-icon--disabled
                        icon icon--arrow-slider-left-next">
            </div>
          </div>
          <div class="tile-financial-services__arrow tile-financial-services__arrow--right">
            <div class="tile-financial-services__arrow-icon icon icon--arrow-slider-right-next"></div>
          </div>
        {{/if}}
      </div>
      {{#if tile-financial-services_account }}
        {{> molecules-pagination-dots styleModifier="tile-financial-services__pagination"
            pagination-dots_dotsRound=true
            pagination-dots_hidden-s=true }}
      {{/if}}
    </div>
    <div class="tile-financial-services__button">
    {{> molecules-button-primary button-primary_label=tile-financial-services_buttonLabel
                                 button-primary_icon="arrow-right-thin"
                                 button-primary_stretch=true }}
    </div>
  </div>
</div>

