<ul class="notification {{#if notification_sticky}} notification--sticky {{/if}} {{ styleModifier }}">
  {{#each notification }}
    <li class="notification__item
        {{#if error }} notification__item--error {{/if}}
        {{#if cookie }} notification__item--cookie {{/if}}">
      <div class="notification__wrapper">

        {{#if icon }}
          {{> molecules-visualization-icon-text styleModifier="notification__icon-text"
              visualization-icon-text_icon=icon
              visualization-icon-text_label=text }}
        {{else}}
          <p class="notification__text {{#if cookie }} notification__text--cookie {{/if}}">{{ text }}</p>
        {{/if}}

        {{#if button }}
          {{#if buttonIndent }}
            {{> deprecated-button-notification styleModifier="notification__button notification__button--indent"
                button-notification_error=error
                button-notification_cookie=cookie
                button-notification_label=buttonLabel
                button-notification_icon=buttonIcon }}
          {{else}}
            {{> deprecated-button-notification styleModifier="notification__button"
                button-notification_error=error
                button-notification_cookie=cookie
                button-notification_label=buttonLabel
                button-notification_icon=buttonIcon }}
          {{/if}}
        {{else}}
          {{#if close}}
            {{> molecules-icon-close icon-close_notification=true }}
          {{/if}}
        {{/if}}

      </div>
    </li>
  {{/each}}
</ul>
