<label class="checkbox-multiple-selector">
    <input class="checkbox-multiple-selector__field"
           type="checkbox"
           name="{{ checkbox-multiple-selector_name }}"
           value="{{ checkbox-multiple-selector_value }}"

      {{#if checkbox-multiple-selector_checked }} checked="checked" {{/if}}
      {{#if checkbox-multiple-selector_disabled }} disabled="disabled" readonly {{/if}}
    />

    <span class="checkbox-multiple-selector__container">
        <span class="checkbox-multiple-selector__indicator icon icon--check"></span>
        <span class="checkbox-multiple-selector__icon icon icon--{{ checkbox-multiple-selector_icon }}"></span>
        <span class="checkbox-multiple-selector__label"> {{ checkbox-multiple-selector_label }} </span>
      {{#if checkbox-multiple-selector_subLabel }}
          <span class="checkbox-multiple-selector__sublabel"> {{ checkbox-multiple-selector_subLabel }} </span>
      {{/if}}
    </span>
</label>
