<nav class="pagination {{#if pagination_isThemeInverted}} pagination--theme-inverted {{/if}} {{ styleModifier }}"
  aria-label="Pagination">

  {{#if pagination_isPrevDisabled }}
  <span class="pagination__prev pagination__prev--disabled"></span>
  {{ else }}
  <a class="pagination__prev" href="#" aria-label="Previous"></a>
  {{/if }}

  <ul class="pagination__items">
    {{#each pagination_items }}
    <li class="pagination__item">
      {{#if isCurrentPage }}
      <span class="pagination__goto pagination__goto--current" aria-label="Current page, page {{ data }}" aria-current="page">{{
        data }}</span>
      {{ else if isEllipsis }}
      <span class="pagination__goto pagination__goto--ellipsis"></span>
      {{ else }}
      <a class="pagination__goto" href="#" aria-label="Go to page {{ data }}">{{ data }}</a>
      {{/if }}
    </li>
    {{/each}}
  </ul>

  {{#if pagination_isNextDisabled }}
  <span class="pagination__next pagination__next--disabled"></span>
  {{ else }}
  <a class="pagination__next" href="#" aria-label="Next"></a>
  {{/if }}

</nav>
