<div class="visualization-icon-text {{ styleModifier }}">
  {{#if visualization-icon-text_icon }}
      <span class="visualization-icon-text__icon icon icon--{{ visualization-icon-text_icon }} {{styleModifier_icon}}"></span>
  {{/if}}
  <span class="visualization-icon-text__label {{styleModifier_label}}">{{ visualization-icon-text_label }}</span>
</div>
