<section class="-wrapper-page">

  {{> organisms-page-header styleModifier="-spacing-d" }}

  <div class="row -spacing-f">
    <div class="column column--12">

      {{> organisms-car-selector-02-logged-in-selected }}

    </div>
  </div>

  <div class="row -spacing-e">
    <div class="column column--12">

      {{> organisms-header-tile }}

      {{> organisms-list-view styleModifier="-spacing-3" }}

    </div>
  </div>
  <div class="row -spacing-d">
    <div class="column column--12">

      <h1 class="-text-size-2-thin -text-color-white">Headline 1</h1>

      <div class="-spacing-inner-a -spacing-6 -background-white">
        <h2 class="-text-size-3-thin -text-color-black">Headline 2</h2>

        <p class="-text-size-copy -text-color-black -spacing-6">{{ spacings_someCopytext }}</p>

        <h3 class="-text-size-4-thin -text-color-black -spacing-c">Headline 3</h3>

        <p class="-text-size-copy -text-color-black -spacing-6">{{ spacings_someCopytext }}</p>

        <p class="-text-size-copy -text-color-black -spacing-c">{{ spacings_someCopytext }}</p>

        <hr class="divider -spacing-c">

        <h4 class="-text-size-5-thin -text-color-black -spacing-c">Headline 4</h4>

        <p class="-text-size-copy -text-color-black -spacing-6">{{ spacings_someCopytext }}</p>

        {{> organisms-list-bullet styleModifier="-spacing-12" }}

        <p class="-text-size-copy -text-color-black -spacing-12">{{ spacings_someCopytext }}</p>
      </div>

      {{> organisms-form-button-group }}

    </div>
  </div>
  <div class="row">
    <div class="column column--12">
      <hr class="divider divider--gray -spacing-b">
      <h1 class="-text-size-2-thin -text-color-white -spacing-a">Headline 1</h1>
    </div>
  </div>
  <div class="row -spacing-6 flex-s">
    <div class="column column--12 column--s-6 flex-s flex--column">

      {{> organisms-header-tile }}
      <div class="-spacing-inner-a -background-white flex--grow">
        <p class="-text-size-copy -text-color-grey-5">{{ spacings_someCopytextShort }}</p>
        <p class="-text-size-copy -text-color-black">{{ spacings_someCopytextShort }}</p>

        {{> molecules-select styleModifier="-spacing-c" }}

        {{> molecules-select styleModifier="-spacing-a" }}

        {{> molecules-input styleModifier="-spacing-a" }}

        <div class="row -spacing-12">
          <div class="column">

            {{> molecules-checkbox checkbox_label=spacings_someCopytextShort styleModifier="-spacing-a" }}

          </div>
          <div class="column">

            {{> molecules-checkbox checkbox_label="Some other label" styleModifier="-spacing-a" }}

          </div>
          <div class="column">

            {{> molecules-checkbox checkbox_label=spacings_someCopytextShort styleModifier="-spacing-a" }}

          </div>
          <div class="column">

            {{> molecules-checkbox checkbox_label="And another Lorem Ipsum label" styleModifier="-spacing-a" }}

          </div>
        </div>

        <p class="-text-size-small -text-color-black -spacing-c">{{ spacings_someCopytext }}</p>

      </div>

    </div>
    <div class="column column--12 column--s-6 flex-s flex--column -spacing-b -spacing-zero-s">

      {{> organisms-header-tile }}
      <div class="-spacing-inner-a -background-white flex--grow">
        <div class="row">
          <div class="column column--6">

            {{> molecules-select }}

          </div>
          <div class="column column--6">

            {{> molecules-select }}

          </div>
        </div>
        <div class="row -spacing-a">
          <div class="column column--6">

            {{> molecules-input }}

          </div>
          <div class="column column--6">

            {{> molecules-input }}

          </div>
        </div>
        <div class="row">
          <div class="column column--12">

            {{> molecules-radio styleModifier="-spacing-a" }}

          </div>
          <div class="column column--12">

            {{> molecules-radio styleModifier="-spacing-a" }}

          </div>
        </div>
        <h4 class="-text-size-5-thin -text-color-black -spacing-c">Headline 4</h4>
        <p class="-text-size-small -text-color-black -spacing-6">{{ spacings_someCopytext }}</p>
      </div>

    </div>
  </div>

  <div class="row -spacing-b">
    <div class="column column--12">

      {{> organisms-header-tile }}

      <div class="-spacing-inner-a -background-white">
        <h3 class="-text-size-4-thin -text-color-black">Headline 3</h3>
        <p class="-text-size-copy -text-color-black -spacing-6">{{ spacings_someCopytextShort }}</p>
        <hr class="divider -spacing-c">
        <h3 class="-text-size-4-thin -text-color-black -spacing-c">Headline 3</h3>
        <p class="-text-size-copy -text-color-black -spacing-6">{{ spacings_someCopytext }}</p>
        <div class="row -spacing-c">
          <div class="column column--6">

            {{> molecules-input input_label="Passwort *" input_type="password" input_value="123456" input_icon="eye"}}

          </div>
          <div class="column column--6">

            {{> molecules-input input_label="Passwort wiederholen *" input_type="password" input_value="123456" input_icon="eye"}}

          </div>
        </div>
        <div class="row">
          <div class="column">

            {{> molecules-visualization-icon-text styleModifier="-spacing-a -text-color-status-green" visualization-icon-text_label="Mindestlänge 8 Zeichen" visualization-icon-text_icon="check" }}

          </div>
          <div class="column">

            {{> molecules-visualization-icon-text styleModifier="-spacing-a -text-color-status-green" visualization-icon-text_label="Zahl" visualization-icon-text_icon="check" }}

          </div>
          <div class="column">

            {{> molecules-visualization-icon-text styleModifier="-spacing-a -text-color-status-green" visualization-icon-text_label="Großbuchstabe(n)" visualization-icon-text_icon="check" }}

          </div>
          <div class="column">

            {{> molecules-visualization-icon-text styleModifier="-spacing-a -text-color-status-green" visualization-icon-text_label="Sonderzeichen" visualization-icon-text_icon="check" }}

          </div>
        </div>
      </div>
    </div>
  </div>

  {{> organisms-next-best-actions styleModifier="-spacing-b" }}

</section>
