
{{> organisms-modal-dynamic
  modal-dynamic_title=services-access-software-update.title

  modal-dynamic_addFormButtonGroup=true
  form-button-group_primaryActionCta=services-access-software-update.buttons.primaryAction
  form-button-group_secondaryActionCta=services-access-software-update.buttons.secondaryAction
}}

{{#*inline "modal-dynamic_body_content" }}
  <div class="-spacing-inner-e">
    <div class="row">
      <p class="column column--12 -text-size-copy">
        <span>{{ services-access-software-update.bodyText1 }}</span>
      </p>
    </div>

    <div class="row">
      <div class="column column--12 -text-size-copy -spacing-f">
        <div class="-text-size-5-regular">
          {{ services-access-software-update.bodyVehicleInfoModel }}
        </div>
        <div>
          <span>{{ services-access-software-update.bodyVehicleInfoVinFieldName }} </span>
          <span>{{ services-access-software-update.bodyVehicleInfoVin }}</span>
        </div>
      </div>
    </div>

    <div class="row">
      <p class="column column--12 -text-size-copy -spacing-f">
        <span>{{ services-access-software-update.bodyText2 }}</span>
      </p>
    </div>
  </div>
{{/inline}}
