<div class="-background-white">
    <div class="row">
        <div class="column column--12 -spacing-30">
            <hr class="divider" />
        </div>
    </div>
    <div class="row -spacing-24">
        <div class="column column--12 column--m-8">
            <h5 class="-text-size-5-thin">{{ @root.affected-vehicle-information-detail_headline }}</h5>
            <p class="-text-size-copy">{{ @root.affected-vehicle-information-detail_paragraph }}</p>

            <h5 class="-text-size-5-thin -spacing-b">{{ @root.affected-vehicle-information-detail_headline }}</h5>
            <p class="-text-size-copy">{{ @root.affected-vehicle-information-detail_paragraph }}</p>

            <h5 class="-text-size-5-thin -spacing-b">{{ @root.affected-vehicle-information-detail_headline }}</h5>
            <p class="-text-size-copy">{{ @root.affected-vehicle-information-detail_paragraph }}</p>

            <h5 class="-text-size-5-thin -spacing-b">{{ @root.affected-vehicle-information-detail_headline }}</h5>
            <p class="-text-size-copy">{{ @root.affected-vehicle-information-detail_paragraph }}</p>

            {{> molecules-button-inline styleModifier="-spacing-24" button-inline_label="Servicetermin vereinbaren" button-inline_active=true button-inline_rounded=true button-inline_icon="registration" }}
        </div>
    </div>
</div>
